/*-------------------------------------------------------------------------------------
    Search Popup
---------------------------------------------------------------------------------------*/

.sl-search-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, .9);
    visibility: hidden;
    opacity: 0;
    cursor: url(../img/icons/light-close.png) 16 16, pointer;
    -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    z-index: 99999;

    & .inner {
        background: #fff;
        position: relative;
        width: 100%;
        max-width: 100%;
        text-align: left;
        transition: all .3s;
        overflow-y: auto;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        opacity: 0;
        cursor: default;

        & .search-content {
            padding: 30px 40px;

            form {
                position: relative;

                .search-label {
                    color: #000;
                    width: 100%;

                    input {
                        background-color: transparent;
                        border: 0;
                        border-bottom: 1px solid #dcdcdc;
                        padding: 15px 30px 15px 0;
                        color: inherit;
                        -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
                        transition: all .3s cubic-bezier(.645, .045, .355, 1);
                        color: #000;
                        width: 100%;
                        height: 52px;

                        &[placeholder]:focus::-webkit-input-placeholder {
                            transition: opacity 0.3s 0.3s ease;
                            opacity: 0;
                        }
                    }
                }

                button {
                    &.search-submit {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: transparent;
                        border: 0;
                        padding: 0;
                        height: 62px;
                        line-height: 62px;
                        color: #000;
                        -webkit-transform: none;
                        -ms-transform: none;
                        transform: none;
                        box-shadow: none;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}


.page-search-popup-opened {
    .sl-search-popup {
        visibility: visible;
        opacity: 1;

        .inner {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            opacity: 1;
        }
    }
}