/*-------------------------------------------------------------------------------------
    Error page 404
---------------------------------------------------------------------------------------*/

#notfound {
    position: relative;
    height: 100vh;

    .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding: 15px;

    .notfound-404 {
        position: relative;
        height: 220px;

        h1 {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            font-size: 186px;
            font-weight: 200;
            margin: 0px;
            background: linear-gradient(130deg, $color-11, $color-12);
            color: transparent;
            -webkit-background-clip: text;
            text-transform: uppercase;
        }
    }

    h2 {
        font-size: 33px;
        font-weight: 200;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 25px;
        letter-spacing: 3px;
    }

    p {
        font-size: 16px;
        font-weight: 200;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    a {
        color: $color-12;
        font-weight: 200;
        text-decoration: none;
        border-bottom: 1px dashed #ff6f68;
        border-radius: 2px;
    }
}

.notfound-social>a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: $color-12;
    border: 1px solid #efefef;
    border-radius: 50%;
    margin: 3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;

    &:hover {
        color: #fff;
        background-color: $color-12;
        border-color: #ff6f68;
    }
}

@media #{$small-mobile} {
    .notfound {
        .notfound-404 {
            position: relative;
            height: 168px;

            h1 {
                font-size: 142px;
            }
        }

        h2 {
            font-size: 22px;
        }
    }
}


/*-------------------------------------------------------------------------------------
    Error page 404-1 Start
---------------------------------------------------------------------------------------*/

.error-msgs {
    h1 {
        font-size: 200px;
        font-family: $miniver;

        @media #{$sm-layout} {
            font-size: 56px;
        }
    }

    h4 {
        font-family: $poppins;

        a {
            color: $red-color;

            @media #{$sm-layout} {
                font-size: 14px;
            }
        }
    }

    h5,
    h3 {
        color: $light-black;
        font-family: $poppins;

        @media #{$sm-layout} {
            font-size: 12px;
        }
    }

    .one-4 {
        color: $gray-1  !important;
    }

    .three-4 {
        color: $gray-1  !important;
    }

    .two-0 {
        color: $red-color  !important;
    }
}

.black-mark {
    top: -85px;
    left: 39%;
    animation: blinker 2s step-end infinite;

    @media #{$sm-layout} {
        font-size: 25px !important;
        top: -30px;
    }
}

.red-mark {
    top: -85px;
    left: 39%;
    color: #ee0000;
    animation: blinker 1s step-end infinite;

    @media #{$sm-layout} {
        font-size: 25px !important;
        top: -30px;
    }
}

.error-img {
    min-height: 100%;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*-------------------------------------------------------------------------------------
    Error page 404-1 End
---------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
    Error page 404-2 Start
---------------------------------------------------------------------------------------*/
.error-page-2 img {
    width: 400px;
    height: auto;

    @media #{$sm-layout} {
        width: 250px;
    }
}

/*-------------------------------------------------------------------------------------
    Error page 404-2 End
---------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
    Error page 404-3 Start
---------------------------------------------------------------------------------------*/
.error-details {
    h2 {
        font-family: $body-font;
        letter-spacing: .2em;
        font-size: 4.6rem;

        @media #{$tab-layout} {
            font-size: 2.6rem;
        }

        @media #{$sm-layout} {
            font-size: 2.2rem;
        }
    }
}

/*-------------------------------------------------------------------------------------
    Error page 404-3 End
---------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
    Error page 404-4 Start
---------------------------------------------------------------------------------------*/

#notfound {
    .error-page-wrapper {
        overflow: hidden;
        background: $color-33;
        box-shadow: 0 2rem 3rem var($black);

        .numbers-layer {
            position: absolute;
            top: -1rem;
            left: -1rem;
            height: 100%;
            width: 100%;

            >.number {
                position: absolute;
                font-size: 10rem;
                color: var($white);
                transform: scale(0);
                opacity: 0;
                font-weight: 200;
                animation: number-animation 10s linear infinite;
                will-change: transform, opacity;

                &.-with-shadow {
                    text-shadow: 1rem 1rem var($black);
                }

                &:nth-of-type(1) {
                    top: 5%;
                    left: 5%;
                    animation-delay: 0;
                }

                &:nth-of-type(2) {
                    top: 15%;
                    left: 55%;
                    animation-delay: 40ms;
                    font-size: 15rem;
                }

                &:nth-of-type(3) {
                    top: 25%;
                    left: 15%;
                    animation-delay: 80ms;
                }

                &:nth-of-type(4) {
                    top: 75%;
                    left: 20%;
                    animation-delay: 120ms;
                }

                &:nth-of-type(5) {
                    top: 25%;
                    left: 75%;
                    animation-delay: 160ms;
                    font-size: 6rem;
                }

                &:nth-of-type(6) {
                    top: 65%;
                    left: 45%;
                    animation-delay: 200ms;
                }

                &:nth-of-type(7) {
                    top: 45%;
                    left: 85%;
                    animation-delay: 240ms;
                }

                &:nth-of-type(8) {
                    top: 10%;
                    left: 85%;
                    animation-delay: 280ms;
                }

                &:nth-of-type(9) {
                    top: 40%;
                    left: 35%;
                    animation-delay: 320ms;
                    font-size: 15rem;
                }

                &:nth-of-type(10) {
                    top: 70%;
                    left: 65%;
                    animation-delay: 360ms;
                }

                &:nth-of-type(11) {
                    top: 10%;
                    left: 30%;
                    animation-delay: 400ms;
                    font-size: 6rem;
                }

                &:nth-of-type(12) {
                    top: 45%;
                    left: 10%;
                    animation-delay: 440ms;
                }
            }
        }

        .oops-message {
            position: absolute;
            bottom: 2rem;
            margin-left: -10rem;
            color: var($white);
        }
    }

    @keyframes number-animation {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        30% {
            transform: scale(0);
            opacity: 0;
        }

        32% {
            transform: scale(.95);
            opacity: 1;
        }

        35% {
            transform: scale(1);
            opacity: 1;
        }

        37% {
            transform: scale(1);
            opacity: 1;
        }

        40% {
            transform: scale(0);
            opacity: 0;
        }

        50% {
            transform: scale(0);
            opacity: 0;
        }

        52% {
            transform: scale(.45);
            opacity: 1;
        }

        55% {
            transform: scale(.5);
            opacity: 1;
        }

        57% {
            transform: scale(.5);
            opacity: 1;
        }

        60% {
            transform: scale(0);
            opacity: 0;
        }

        70% {
            transform: scale(0);
            opacity: 0;
        }

        72% {
            transform: scale(.75);
            opacity: 1;
        }

        75% {
            transform: scale(.8);
            opacity: 1;
        }

        77% {
            transform: scale(.8);
            opacity: 1;
        }

        80% {
            transform: scale(0);
            opacity: 0;
        }

        100% {
            transform: scale(0);
            opacity: 0;
        }
    }
    .back-btn{
        a{
            color: $white !important;
            &:hover {
                color: $black !important;
            }
        }
    }
}

/*-------------------------------------------------------------------------------------
    Error page 404-4 End
---------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
    Error page 404-7 Start
---------------------------------------------------------------------------------------*/
.cube-round-part {

    .context {
        width: 100%;
        position: absolute;
        top: 30vh;
    }

    .area {
        background: #4e54c8;
        background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
        width: 100%;
        height: 100vh;

        .circles {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            li {
                position: absolute;
                display: block;
                list-style: none;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.2);
                animation: animate 25s linear infinite;
                bottom: -150px;

                &:nth-child(1) {
                    left: 25%;
                    width: 80px;
                    height: 80px;
                    animation-delay: 0s;
                }

                &:nth-child(2) {
                    left: 10%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 2s;
                    animation-duration: 12s;
                }

                &:nth-child(3) {
                    left: 70%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 4s;
                }

                &:nth-child(4) {
                    left: 40%;
                    width: 60px;
                    height: 60px;
                    animation-delay: 0s;
                    animation-duration: 18s;
                }

                &:nth-child(5) {
                    left: 65%;
                    width: 20px;
                    height: 20px;
                    animation-delay: 0s;
                }

                &:nth-child(6) {
                    left: 75%;
                    width: 110px;
                    height: 110px;
                    animation-delay: 3s;
                }

                &:nth-child(7) {
                    left: 35%;
                    width: 150px;
                    height: 150px;
                    animation-delay: 7s;
                }

                &:nth-child(8) {
                    left: 50%;
                    width: 25px;
                    height: 25px;
                    animation-delay: 15s;
                    animation-duration: 45s;
                }

                &:nth-child(9) {
                    left: 20%;
                    width: 15px;
                    height: 15px;
                    animation-delay: 2s;
                    animation-duration: 35s;
                }

                &:nth-child(10) {
                    left: 85%;
                    width: 150px;
                    height: 150px;
                    animation-delay: 0s;
                    animation-duration: 11s;
                }
            }
        }
    }

}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*-------------------------------------------------------------------------------------
    Error page 404-7 End
---------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    Error page 404-9 Start
---------------------------------------------------------------------------------------*/

.cube-main-part {

    .cube-error-part {
        .cube-effect {
            background: linear-gradient(132deg, #FC415A, #591BC5, #212335);
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            position: relative;
            height: 100vh;
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0px;
        }

        .cube {
            position: absolute;
            top: 80vh;
            left: 45vw;
            width: 10px;
            height: 10px;
            border: solid 1px #D7D4E4;
            transform-origin: top left;
            transform: scale(0) rotate(0deg) translate(-50%, -50%);
            animation: cube 12s ease-in forwards infinite;

            &:nth-child(2n) {
                border-color: $white;
            }

            &:nth-child(2) {
                animation-delay: 2s;
                left: 25vw;
                top: 40vh;
            }

            &:nth-child(3) {
                animation-delay: 4s;
                left: 75vw;
                top: 50vh;
            }

            &:nth-child(4) {
                animation-delay: 6s;
                left: 90vw;
                top: 10vh;
            }

            &:nth-child(5) {
                animation-delay: 8s;
                left: 10vw;
                top: 85vh;
            }

            &:nth-child(6) {
                animation-delay: 10s;
                left: 50vw;
                top: 10vh;
            }
        }

    }

    .page-details {
        top: 0%;
        left: 0%;
    }

}

/* Animate Background*/

@keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes cube {
    from {
      transform: scale(0) rotate(0deg) translate(-50%, -50%);
      opacity: 1;
    }
    to {
      transform: scale(20) rotate(960deg) translate(-50%, -50%);
      opacity: 0;
    }
  }

/*-------------------------------------------------------------------------------------
    Error page 404-9 End
---------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------
    Error page 404-10 Start
---------------------------------------------------------------------------------------*/

.bg-gradient-moving {
    animation: theme 21s linear infinite;
    
    &:after,
    &:before {
        content: '';
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        width: 100vw;  // IE/Edge
        height: 100vh; // fallback
        width: 100vmax;
        height: 100vmax;
        background: rgba(0,0,0,0.05);
        animation: background 90s linear infinite;
    }

    &:after {
        left: 15vw;
    }

    &:before {
        right: 15vw;
        animation-delay: -30s;
        animation-direction: reverse;
    }
}

@keyframes theme {
    0% {
        background: #74C390;
    }
    
    16% {
        background: #5DBDB6;
    }
    
    33% {
        background: #59D4E1;
    }
    
    50% {
        background: #51BCE8;
    }
    
    66% {
        background: #FA5374;
    }    
    
    83% {
        background: #E46653;
    }

    100% {
        background: #74C390;
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

/*-------------------------------------------------------------------------------------
    Error page 404-10 End
---------------------------------------------------------------------------------------*/