.beauty-quote .section-title h2 {
    font-size: 60px !important;

    @media #{$sm-layout} {
        font-size: 48px !important;
    }
}

@media #{$sm-layout} {
    .beauty-girl-1 {
        opacity: .3;
        z-index: -1;
        width: 320px;
    }

    .beauty-girl-2 {
        opacity: .2;
        z-index: -3;
    }
}