.crypto-table {
    padding: 5px;
    border-radius: 10px;
    position: relative;
    z-index: 3;

    .table {
        background: #fff;
        margin: 0;
        border-radius: 10px;
        border: 8px solid $theme-color;

        thead th {
            border-top: 0;
        }
    }
}